/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.header__nav {
    display: block;
    & ul {
        display: flex;
       & li {
           margin: 30px;
       }
    }
}
.main {
    padding-bottom: 60px;
    background-position: top -180px right -180px;
    &-top {
        padding: 100px 20px;
        &__img {
            position: absolute;
            top: 20%;
            right: 15%;
            & img {
                width: 400px;
            }
        }
    }
}
.mobile-menu__btn {
    display: none;
}
.mobile-contact {
    display: block;
}
.feature-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    &__text {
       text-align: left; 
    }
    &__img {
        & img {
       width: 350px;
       }
   }
}

.pc {
   display: none;
} 
.pro {
    display: block;
}
.reverse {
  flex-direction: row-reverse;
}
.price {
    width: 100%;
}

.flexbox {
    display: flex;
    // flex-wrap: wrap;
}
