.blog {
    &-inner {
        width: 80%;
        margin: 0 auto;
    }
    &-column {
        background-color: $cWhite;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        @extend .mb-sm;
        display: inline-block;
        &__img {
            & > img {
                width: 100%;
            }
        }
        &__text {
            padding: 20px;
            & p {
                &:nth-child(1) {
                    text-align: left;
                    line-height: 1.5em;    
                }
                &:nth-child(2) {
                    text-align: right;
                    line-height: 3.0em;
                }
            }
        }
    }
}